// shape
.border-circle {
    border-radius: $border-radius-circle !important;
}

.border-pill {
    border-radius: $border-radius-circle !important;
}

// style
.border-dashed {
    border-style: dashed;
}

.border-dotted {
    border-style: dotted;
}

// Theme
.border-primary {
    border-color: $daojia-green !important;
}

.border-secondary {
    border-color: $daojia-green !important;
}

.border-danger {
    border-color: $daojia-red !important;
}

.border-success {
    border-color: $daojia-red !important;
}

.border-warning {
    border-color: $daojia-green !important;
}
