@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_jamycop2nzgaxlxr.eot?t=1490767179350'); /* IE9*/
  src: url('//at.alicdn.com/t/font_jamycop2nzgaxlxr.eot?t=1490767179350#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_jamycop2nzgaxlxr.woff?t=1490767179350') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_jamycop2nzgaxlxr.ttf?t=1490767179350') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_jamycop2nzgaxlxr.svg?t=1490767179350#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  // font-size:16px;
  vertical-align: middle;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-6:before { content: "\e701"; }

.icon-FowordArrow:before { content: "\e606"; }

.icon-X:before { content: "\e631"; }

.icon-tanhao:before { content: "\e6c9"; }

.icon-shanchu:before { content: "\e608"; }

.icon-duihao:before { content: "\e61f"; vertical-align: top;}

.icon-xiexian:before { content: "\e60f"; }
