// Contextual colors

@include text-emphasis-variant('.text-muted', $text-muted);

@include text-emphasis-variant('.text-primary', $daojia-green);

@include text-emphasis-variant('.text-success', $daojia-red);

@include text-emphasis-variant('.text-info', $daojia-green);

@include text-emphasis-variant('.text-warning', $daojia-green);

@include text-emphasis-variant('.text-danger', $daojia-red);

@include text-emphasis-variant('.text-secondary', $daojia-green);

@include text-emphasis-variant('.text-pure', $daojia-pure);

//== Text align
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
