.group {
  @include border-vertical();
  background-color: $cell-bg-color;
  margin: $group-margin;
  padding-bottom: 1px;
  padding-top: 1px;

  > .cell:last-child {
      background-size: 0;
  }
}

// title
.group-title {
  padding: $group-title-padding;

  .group {
      margin: 0;
  }
}
