.settlement-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #b4b3b2;
  font-size: 12px;
  color: #333;

  em {
    font-style: normal;
    padding-left: 7px;
  }
}

.total-discount {
  padding-left: 16px;
}

.total-amount {
  position: absolute;
  right: 127px;

  em {
    color: #ff5555;
    font-size: 15px;
  }
}

.toSubmit {
  float: right;
  display: block;
  width: 110px;
  background: #ff5757;
  font-size: 17px;
  color: #fff;
  text-align: center;
}
