.settlement-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  color: #333;

  em {
    font-style: normal;
    padding-left: 7px;
  }
}

.total-discount {
  padding-left: 16px;
}

.total-amount {
  position: absolute;
  right: 127px;

  em {
    color: #ff5555;
    font-size: 15px;
  }
}

.toSubmit {
  float: right;
  display: block;
  width: 110px;
  background: #ff5757;
  font-size: 17px;
  color: #fff;
  text-align: center;
}

.settlement-container {
  margin: 10px 0 50px;
  font-size: 14px;
  color: #666;
  background: #fff;
}

.settlement-line {
  padding-top: 10px;
  background: #f4f4f4;
}

.settlement-address {
  background: url("//teststatic.jd.com/daojia/new/images/icon/jiesuanye_line_dizhi@2x.png") left top repeat-x;
  background-size: 100% 3px;
  padding: 18px 15px;
  color: #333;
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;

  .iconfont {
    position: absolute;
    right: 15px;
    top: 44px;
    color: #c4c4c4;
    font-weight: normal;
  }

  .address-select {
    line-height: 36px;
    font-size: 16px;
  }
}

.account-name {
  font-weight: bold;
  line-height: 15px;
}

.account-address {
  padding-top: 13px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: bold;
}

.settlement-item {
  position: relative;
  padding: 15px 15px 15px 0;
  margin-left: 15px;
  font-size: 15px;
  line-height: 20px;
  background: #fff;
  color: #333;
  white-space: nowrap;

  span {
    position: absolute;
    right: 15px;
    color: #333;
    font-size: 14px;
  }
}

.deliverTime {
  border-top: 1px solid #e8e8e8;

  a,
  span {
    color: #2486ff;
  }

  .iconfont {
    margin-left: 5px;
    color: #c4c4c4;
  }
}

.bookInfo {
  border-top: 1px solid #e8e8e8;

  .iconfont {
    margin-left: 5px;
    color: #c4c4c4;
  }
}

.conponInfo {
  border-top: 1px solid #e8e8e8;

  span {
    color: #999;
  }

  .iconfont {
    margin-left: 5px;
  }
}

.orderMark {
  textarea {
    width: 88%;
    font-size: 13px;
    color: #999;
    font-family: "微软雅黑","Arial";
    text-indent: 8px;
    resize: none;
    height: 20px;
    line-height: 20px;
    max-height: 40px;
    vertical-align: top;
    margin-top: 2px;
    border: none;
    margin: 0;
    padding: 0;
  }
}

.productInfo {
  border-top: 1px solid #e8e8e8;
  overflow: hidden;

  ul {
    width: 100%;
    white-space: nowrap;
  }

  li {
    min-width: 50px;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  img {
    width: 52px;
    height: 52px;
    display: inline-block;
    padding-right: 10px;
  }

  div {
    position: absolute;
    right: 15px;
    top: 40px;
    line-height: 55px;
    font-size: 14px;

    span {
      position: absolute;
      right: 20px;
      line-height: 19px;
      white-space: nowrap;
      color: #333;
      font-size: 13px;
    }
  }

  .iconfont {
    position: absolute;
    top: -25px;
    right: 0;
    color: #c4c4c4;
  }
}

.goods-count {
  top: 5px;
}

.goods-weight {
  bottom: 5px;
}

.moneyInfo {
  border-top: 1px solid #e8e8e8;

  p {
    display: -webkit-box;
    display: box;
    width: 100%;
    padding-bottom: 12px;
    white-space: nowrap;

    em {
      display: block;
      -webkit-box-flex: 1;
      font-style: normal;
    }
  }
}

.moneyInfo p:last-child {
  padding-bottom: 0;
}

.moneyInfo em:last-child {
  text-align: right;
}

.total-money {
  border-top: 1px solid #e8e8e8;
  padding: 15px 15px 15px 0;
}
/*deliverTime*/
.deliverTime-title {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  color: #333;
  background: #f9f9f9;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
}

.deliverTime-data {

  h4 {
    padding: 0 10px;
    border-bottom: 1px solid #e8e8e8;
    min-height: 40px;
    line-height: 40px;
    background-color: #fff;
    margin-top: 10px;
  }

  em {
    font-size: 12px;
    color: #999;
    font-style: normal;
  }
}

.date,.time {
  padding: 10px;
  background: #fff;

  p {
    border: 1px solid #d4d4d4;
    background: #fff;
    margin: 1%;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 21.9%;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold;
  }
}

.time {
  padding-bottom: 60px;
  overflow: hidden;

  p{
    margin: 3%;
    width: 43.3%;
  }
}

.date p.cur,.time p.cur {
  border: 2px solid #39ac69;
  color: #39ac69;
  padding: 9px;
  font-weight: bold;
}

.btn-ok {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 17px;
  color: #fff;
  background: #50b657;
  line-height: 15px;
  padding: 15px 0;
}
