// Button sizes
// @mixin button-size($padding-y, $padding-x, $font-size) {
//     padding: $padding-y $padding-x;
//     font-size: $font-size;
// }

// Button variant
@mixin button-variant($color, $bg-color, $border-color) {
    $active-background: darken($bg-color, 6%);
    $active-border: darken($border-color, 6%);

    color: $color;
    background-color: $bg-color;
    border-color: $border-color;

    &:active,
    &.active {
        // color: $color;
        background-color: $active-background;
        border-color: $active-border;
    }
    //
    // &.disabled,
    // &:disabled {
    //     &:hover {
    //         background-color: $bg-color;
    //         border-color: $border-color;
    //     }
    // }
}

// Button outline variant
@mixin button-outline-variant($color) {
    color: $color;
    border-color: $color;
    background-color: transparent;

    // &:active,
    // &.active {
    //     color: $daojia-pure;
    //     background-color: $color;
    // }
    //
    // &.disabled,
    // &:disabled {
    //     &:hover {
    //         background-color: transparent;
    //         border-color: $color;
    //     }
    // }
}
