.pay-header {
  background: #fff;
  margin: 0 5px;
}

.pay-time {
  color: #000;
  padding: 20px 0;
  text-align: center;

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 30px;
    height: 42px;
  }
}

.pay-store-amount {
  position: relative;
  border-top: 1px dotted #d9d9d9;
  padding: 18px 0 14px;
}

.pay-store-amount::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width:5px;
  height:10px;
  border-radius: 0px 50px 50px 0px ;
  background:#f4f4f4;
}

.pay-store-amount::after {
  content: '';
  position: absolute;
  top: -5px;
  right: 0;
  width:5px;
  height:10px;
  border-radius: 50px 0px 0px 50px ;
  background:#f4f4f4;
}

.pay-station {
  margin-left: 10px;
  font-size: 13px;
  color: #000;
}

.pay-amount {
  float: right;
  margin-right: 10px;
  font-size: 16px;
  color: #ff5757;
}

.pay-store-amount-bottom {
  background: url('http://teststatic.jd.com/daojia/new/images/pay/icon_dada_bottom.png') repeat-x bottom center;
  background-size: 12px 4px;
  height: 4px;
}

.btn-pay{
  position: fixed;
  height: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 45px;
  background: #47b34f;
  color: #fff;
  text-align: center;
  font-size: 15px;

  em {
    padding-left: 8px;
    font-size: 11px;
    font-style: normal;
  }
}

.pay-type {
  margin-top: 24px;

  ul {
    margin-top: 12px;
    background: #fff;

    li {
      padding: 12px 0 9px;
      border-bottom: 1px solid #e8e8e8;
      position: relative;
    }
  }
}

.pay-type li.wx {
  background: #fff url("http://teststatic.jd.com/daojia/new/images/pay/wxpay-icon.png") no-repeat 15px center;
  background-size: 34px 30px;
}

.pay-type li.jd {
  background: #fff url("http://teststatic.jd.com/daojia/new/images/pay/icon-jdpay.png") no-repeat 15px center;
  background-size: 28px 27px;
}

.pay-type li.zfb {
  background: #fff url("http://teststatic.jd.com/daojia/new/images/pay/zfbpay-icon.png") no-repeat 15px center;
  background-size: 27px 27px;
}

.pay-title{
  margin-left: 13px;
  font-size: 13px;
  color: #666;
}

.pay-name {
  font-size: 13px;
  color: #000;
  margin-left: 55px;

  span{
    color: #999;
    font-size: 11px;
  }
}

.pay-desc,.pay-default-desc {
  font-size: 11px;
  color: #999;
  margin-left: 55px;
}

.pay-type li i {
  background: url("http://teststatic.jd.com/daojia/new/images/icon/icon_checkbox_none.png") no-repeat center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  top: 50%;
  right: 15px;
  margin-top: -10px;
  position: absolute;
}

.pay-type li i.checked {
  background: url("http://teststatic.jd.com/daojia/new/images/icon/icon_checked.png") no-repeat center;
  background-size: 20px;
}

.pay-hb {
  position: fixed;
  left: 25%;
  bottom: 60px;
  font-size: 12px;
  color: #999;
  background: url('http://teststatic.jd.com/daojia/new/images/pay/hb.png') no-repeat left center;
  background-size: 13px 16px;
  padding-left: 18px
}
