// 新收银台页面css start
.pay-wrapper {
  background: #f4f4f4;
  height: 100%;
  min-height: 460px;
  position: absolute;
  width: 100%;
}

.new-pay-header {
  background: #ffffff;
  height: 45px;
  line-height: 45px;
}

.new-pay-header.border-b:before {
  border-bottom: 1px solid #e8e8e8;
}

.new-pay-header .store-name {
  color: #333;
  font-size: 14px;
  margin-left: 14px;
}

.new-pay-header .store-account {
  color: #fd5554;
  float: right;
  font-size: 12px;
  margin-right: 15px;
}

.new-pay-header .store-account i {
  font-size: 14px;
}

.pay-last-time-wrapper {
  background: #fff;
  height: 110px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.pay-last-time-wrapper .last-time-title {
  font-size: 12px;
  display: block;
  color: #000000;
  line-height: 22px;
  margin-top: 30px;
}

.pay-last-time-wrapper .pay-last-time {
  font-size: 30px;
  display: block;
  color: #000;
  line-height: 35px;
  font-family: Arial,Helvetica,sans-serif;
}

.pay-last-time-wrapper.border-l:before {
  border-left: 1px solid #e8e8e8;
}

.pay-last-time-wrapper.border-r:after {
  border-right: 1px solid #e8e8e8;
}

.pay-store {
  width: 95%;
  height: 55px;
  background: #ffffff;
  margin: 0 auto;
  position: relative;
}

.pay-store .store-name {
  color: #000000;
  font-size: 13px;
  line-height: 56px;
  padding-left: 10px;
}

.pay-store .store-account {
  color: #ff5757;
  float: right;
  line-height: 56px;
  padding-right: 10px;
}

.pay-store .store-account i {
  font-family: Arial,Helvetica,sans-serif;
}

.dadaBg {
  background: #fff url("http://teststatic.jd.com/daojia/new/images/pay/icon_dada_bottom.png") repeat-x left bottom;
  background-size: 12px 4px;
}

.pay-store .store-left-bg {
  position: absolute;
  background: url("http://teststatic.jd.com/daojia/new/images/pay/store-icon-l.png") no-repeat;
  left: 0;
  top: 0;
  width: 6px;
  height: 55px;
  background-size: 6px 55px;
}

.pay-store .store-right-bg {
  position: absolute;
  background: url("http://teststatic.jd.com/daojia/new/images/pay/store-icon-r.png") no-repeat;
  right: 0;
  top: 0;
  width: 7px;
  height: 55px;
  background-size: 7px 55px;
}

.pay-store .store-top-bg {
  position: absolute;
  background: url("http://teststatic.jd.com/daojia/new/images/pay/icon-line.png") repeat-x;
  top: 5px;
  width: 100%;
  height: 1px;
  display: inline-block;
  left: 0;
}

.pay-store .store-bottom-bg {
  position: absolute;
  background: url("http://teststatic.jd.com/daojia/new/images/pay/icon_dada_bottom.png") repeat-x;
  bottom: 0;
  height: 4px;
  background-size: 12px 4px;
  display: inline-block;
  left: 1px;
  right: 1px;
}

.pay-wrapper .pay-title {
  color: #666666;
  line-height: 40px;
  font-size: 13px;
  padding-left: 15px;
  margin-top: 13px;
}

.pay-wrapper ul {
  padding-bottom: 90px;
}

.pay-wrapper li {
  height: 66px;
  background: #fff;
  padding-left: 50px;
  position: relative;
}

.pay-wrapper li.border-b:before {
  border-bottom: 1px solid #e8e8e8;
}

.pay-wrapper li.wx {
  background: #fff url("http://teststatic.jd.com/daojia/new/images/pay/wxpay-icon.png") no-repeat 15px;
  background-size: 27px;
}

.pay-wrapper li.jd {
  background: #fff url("http://teststatic.jd.com/daojia/new/images/pay/icon-jdpay.png") no-repeat 15px 21px;
  background-size: 27px;
}

.pay-wrapper li.bt {
  background: #fff url("http://teststatic.jd.com/daojia/new/images/pay/btpay-icon.png") no-repeat 10px;
  background-size: 27px;
}

.pay-wrapper li.nbt {
  background: #fff url("http://teststatic.jd.com/daojia/new/images/pay/nbtpay-icon.png") no-repeat 10px;
  background-size: 27px;
}

.pay-wrapper li.zfb {
  background: #fff url("http://teststatic.jd.com/daojia/new/images/pay/zfbpay-icon.png") no-repeat 15px;
  background-size: 27px;
}

.pay-wrapper .pay-title.border-b:before,
.pay-wrapper .pay-title.border-t:after {
  border-bottom: 1px solid #e8e8e8;
}

.pay-wrapper li .pay-type {
  font-size: 14px;
  color: #333;
  line-height: 15px;
  padding-top: 17px;
}

.pay-wrapper li.nbt .pay-type {
  color: #999;
}

.pay-wrapper li .pay-desc {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

.pay-wrapper li i {
  background: url("http://teststatic.jd.com/daojia/new/images/icon/icon_checkbox_none.png") no-repeat center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  top: 50%;
  right: 15px;
  margin-top: -10px;
  position: absolute;
}

.pay-wrapper li i.checked {
  background: url("http://teststatic.jd.com/daojia/new/images/icon/icon_checked.png") no-repeat center;
  background-size: 20px;
}

.dj-pay-desc {
  text-align: center;
  line-height: 45px;
  font-size: 12px;
  color: #999999;
  position: fixed;
  bottom: 45px;
  width: 100%;
  background: #f4f4f4;
}

.dj-pay-desc span {
  background: url("http://teststatic.jd.com/daojia/new/images/pay/hb.png") no-repeat left center;
  padding-left: 18px;
  background-size: 13px 16px;
}

.pay-button,
.pay-button-confirm {
  width: 100%;
  text-align: center;
  height: 45px;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.pay-button button {
  width: 100%;
  background: #47b34f;
  color: #fff;
  font-size: 15px;
  height: 100%;
}

.pay-button-confirm span {
  display: block;
  width: 1px;
  height: 48px;
  position: absolute;
  left: 49%;
  top: 1px;
  background: #ffffff;
}

.pay-button-confirm button {
  width: 50%;
  background: #47b34f;
  color: #fff;
  font-size: 15px;
  height: 100%;
}

.pay-button button em {
  font-family: Arial,Helvetica,sans-serif;
}

.pay-button i {
  font-size: 11px;
  padding-left: 5px;
}

.pay-button button.disable,
.pay-button button[isSending=yes] {
  background: #cccccc;
}

.pay-head {
  margin-top: 24px;
}

.pay-head .pay-icon {
  width: 34px;
  display: block;
  margin: 0 auto;
}

.pay-head .pay-title {
  text-align: center;
  font-size: 16px;
  margin-top: 24px;
  color: #333;
}

.pay-head .pay-desc {
  position: relative;
  margin-top: 8px;
  text-align: center;
}

.pay-head .pay-desc span {
  color: #999;
  font-size: 12px;
  z-index: 999;
  background: #fff;
  padding: 0 5px;
}

.pay-type span {
  color: #999;
  font-size: 12px;
}

.pay-head .pay-desc:before {
  content: '';
  display: block;
  border-bottom: 1px solid #d9d9d9;
  width: 90%;
  position: absolute;
  top: 50%;
  height: 1px;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  left: 5%;
  z-index: -1;
}

.pay-wrapper .pay-money {
  font-size: 45px;
  color: #333;
  text-align: center;
  margin: 40px 0;
}

.pay-wrapper .pay-money i {
  font-size: 18px;
  font-weight: normal;
}

.pay-footer {
  position: absolute;
  bottom: 18px;
  width: 100%;
}

.pay-footer img {
  display: block;
  margin: 0 auto;
}

.pay-footer span {
  text-align: center;
  display: block;
  font-size: 10px;
  color: #666666;
  margin-top: 5px;
}

.pay-dada-checked .pay-button button {
  background-color: #0068C1;
}

.pay-dada-checked li i.checked {
  background: url("http://teststatic.jd.com/daojia/new/images/icon/icon_checked_dada.png") no-repeat center center;
  background-size: 20px;
}

.pay-wrapper .jd {
    height: 86px;
}
.pay-wrapper .jd .actvity-desc {
    padding-bottom: 10px;
    color: #ff5757;
    line-height: 16px;
}
//新收银台页面css end
